/*!
 * CamisCat Template (http://camiscat.com.br)
 * Copyright 2015 Acacio Egas
 */
 
/*-------------------------------------------------
 =  Table of Css

 1. Menu responsivo
--------------------------------------------------*/

/*-------------------------------------------------
/* 1. Menu Responsivo
--------------------------------------------------*/
nav.navbar.navbar-default.navbar-fixed-top{
                width: 800px;
                /*background-color: transparent;*/
                /*border-color: transparent;*/
}

/* navbar */
.navbar-default {
    background-color: rgba(205, 26, 56, 0.9);
    /*border-color: #000000;*/
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

/* title */
.navbar-default .navbar-brand {
    color: #fff;
}

.home {
    border: 1px solid black;
    &:hover, *:focus {
        border: 1px solid red;
    }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #8a0e0b;
}